{
  "check-coverage": false,
  "clean": true,
  "compact": true,
  "extension": [
    ".ts",
    ".js"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "instrument": true,
  "preserve-comments": false,
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "ts-node/register"
  ],
  "show-process-tree": true,
  "sourceMap": true
}